body{
    margin: 0%;
    padding: 0%;
    background:rgb(142, 154, 138);

}

nav{
    width:100%;
    overflow:auto;   
}

ul{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

li{
    float: right;
    
}
li a{
    width: 100px;
    display:block;
    padding: 15px 20px;
    text-decoration:none;
    font-family: arial;
    color: black;
    text-align: center;
      
}

li a:hover{
    background: gray;
    text-transform: uppercase;

}
.logo img{
    position: absolute;
    margin-top: 40px;
    margin-left: 150px;
} 
#a h1 {
    color: black;
    font-weight: 400;
    font-size: 4.2rem;
    max-width: 650px;
    margin: 100px;
    padding: 0%;
    margin-left: 150px;
}

#a p {
    color:blue;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 40px;
    max-width: 430px;  
    
}
#b h2{
    color:darkblue;
    font-weight:100;
    font-size: 1.5rem;
    max-width: 200px;
    margin-left: 150px;
}
.column{
    float: left;
    width: 33.33%;
   margin-left: 150px;
    
}
.row::after {
    content:"";
    display: table;
    clear:both;
}
#c h3{
    color:darkblue;
    font-weight: 100;
    font-size: 1.5rem;
    max-width: 200px;
    margin-left: 150px;
}
.container{
    width: 400px;
    height: 225px;
    margin-left: 800px;
}
#d h4{
    color:white;
    font-weight:200;
    font-size: x-large;
    max-width:200px;
    margin-left:500px ;
}

.column1{
    float: left;
    width: 30.30%;
   padding: 10px;  
}

#e h5{
    color:darkblue;
    font-weight:100;
    font-size: 1.5rem;
    max-width:200px;
    margin-left: 150px;
}

.Author{
    border: 1px solid black;
    float:left;
    width: 50%;
   box-sizing: border-box;
   padding: 50px;
   

}


    

